<%- include ("../../layout/header.ejs"); %> 

<div class="container">
    <hr>
    <div class="card mt-5">
        <div class="card-header">
            <h2>Admin Log-in</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="/authenticate">
                <input name="email" type="email" class="form-control" placeholder="email@exemplo.com">
                <br>
                <input name="password" type="password" class="form-control" placeholder="inserto the password">
                <br>
                <button type="submit" class="btn btn-success btn-block">Log-in</button>
            </form>
        </div>
    </div>
</div>

<%- include ("../../layout/footer.ejs"); %>